*{
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: #fdf7f7;
  width: 100%;
  height: 1000px;
}
.menu{
border-bottom: #9e9e9e solid 1px;
height: 50px;
display: flex;
flex-direction: row;
justify-content: center;
}
h1{
  display: flex;
  justify-content: center;
margin-top: 1%;
font-size: 30px;
font-family: 'Libre Baskerville', serif;
color: #79553D;
}
.menu__list{
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
  margin-top: 1%;
}
.menu__item{
  display: flex;
  font-size: 20px;
}
.menu__item-link{
  color: #79553D;
  text-decoration: none;
}
.image{
  display: flex;
  width: 80%;
height: 480px;
}
.image__image1{
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 450px;
  margin-top: 3%;
  margin-left: 2%;
}
.image__image2{
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 300px;
margin-left: 27%;
z-index: 1;
margin-top: 18%;
}
.image__image3{
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 400px;
margin-left: 37%;
margin-top: 3%;

}
p{
  display: flex;
  position: absolute;
  font-size: 50px;
  font-family: 'DM Serif Display', serif;
  right: 10%;
  margin-top: 7%;
  width: 25%;
  color: #79553D;
}
.btn{
  width: 120px;
  height: 120px;
  position: absolute;
  background: #fdf7f7;
  border: #79553D solid 1.8px;
  border-radius: 360px;
  font-family: 'Playfair Display', serif;
  box-shadow: -3px -3px 7px #ffffff73,
  3px 3px 5px rgba(94, 104, 121, 0.288);
  color: #79553D;
  font-size: 15px;
  right: 10%;
  margin-top: 28%;
  cursor: pointer;
}
