@media screen and (max-width: 1280px){
  .header{
    height: 100px;
}
.header__name{
  font-size: 4vw;
}
.header__list{
  margin-top: 0;
}
.header__item{
  font-size: 2.5vw;
}
.section1__p1{
  font-size: 4vw;
}
.section1__p2{
  font-size: 2vw;
  margin-right: 10px;
}
.section1__button{
  width: 140px;
  height: 140px;
  font-size: 23px;
}
.cards__product{
  font-size: 2vw;
}
.cards__catalog{
  font-size: 2vw;
}
.card__title{
  font-size: 26px;
}
.card__title1{
  font-size: 20px;
}
.card__price {
  font-size: 26px;
}
.card__button {
  font-size: 19px;
}
}
@media screen and (max-width: 1024px){
  .header{
    height: 80px;
}
.header__name{
  font-size: 3vw;
}
.header__list{
  margin-top: 0;
}
.header__item{
  font-size: 2.3vw;
}
.section1__p1{
  font-size: 3vw;
}
.section1__p2{
  font-size: 2vw;
  margin-left: 80px;
}
.section1__button{
  width: 120px;
  height: 120px;
  font-size: 19px;
}
.container-cards {
  justify-content: space-around;
  gap: 10px;
}
.cards__product{
  font-size: 2vw;
}
.cards__catalog{
  font-size: 2vw;
}
.card__title{
  font-size: 22px;
}
.card__title1{
  font-size: 19px;
}
.card__price {
  font-size: 22px;
}
.card__button {
  font-size: 19px;
}
}
@media screen and (max-width: 800px){
  .header{
    height: 55px;
}
.header__name{
  font-size: 2.7vw;
}
.header__list{
  margin-top: 0;
}
.header__item{
  font-size: 2.2vw;
}
.section1__p1{
  font-size: 3vw;
  margin-top: 10vw;
}
.section1__p2{
  font-size: 2vw;
  margin-left: 80px;
}
.section1__button{
  width: 100px;
  height: 100px;
  font-size: 15px;
}
.cards {
  margin-top: 4vh;  
}
.container-cards {
  justify-content: space-around;
}
.cards__product{
  font-size: 2vw;
}
.cards__catalog{
  font-size: 2vw;
}
.card__title{
  font-size: 18px;
}
.card__title1{
  font-size: 15px;
}
.card__price {
  font-size: 18px;
}
.card__button {
  font-size: 17px;
}
}
@media screen and (max-width: 680px){
  .header{
    height: 45px;
}
.header__name{
  font-size: 2.7vw;
}
.header__list{
  margin-top: 0;
}
.header__item{
  font-size: 2.2vw;
}
.section1__p1{
  margin-top: 15vh;
  font-size: 3.5vw;
}
.section1__p2{
  font-size: 2.2vw;
  margin-left: 65px;
  padding-top: 3vh;
}
.section1__button{
  width: 80px;
  height: 80px;
  margin-top: 3vh;
  font-size: 13px;
}
.cards {
  margin-top: 3vh;  
}
.container-cards {
  justify-content: space-around;
}
.container__card {
  width: 25vw;
}
.cards__style{
  padding-bottom: 10px;
}
.cards__product{
  font-size: 2.2vw;
}
.cards__catalog{
  font-size: 2.2vw;
}
.card__title{
  font-size: 2.5vw;
}
.card__title1{
  font-size: 2.3vw;
}
.card__price {
  font-size: 2.5vw;
}
.card__button {
  font-size: 2.3vw;
  height: 5vw;
}
}
@media screen and (max-width: 480px){
  .header{
    height: 35px;
}
.header__name{
  font-size: 3vw;
}
.header__list{
  margin-top: 0;
}
.header__item{
  font-size: 2.2vw;
}
.section1__image{
  margin-top: 15px;
}
.section1__image1{
  padding-left: 15px;
}
.section1__p1{
  margin-top: 15vh;
  font-size: 3.5vw;
}
.section1__p2{
  font-size: 2.2vw;
  margin-left: 55px;
  padding-top: 3vh;
}
.section1__button{
  width: 60px;
  height: 60px;
  margin-top: 3vh;
  font-size: 11px;
}
.cards {
  margin-top: 4vh;  
}
.container-cards {
  justify-content: space-around;
}
.container__card {
  width: 25vw;
}
.cards__style{
  padding-bottom: 10px;
}
.cards__product{
  font-size: 2.2vw;
}
.cards__catalog{
  font-size: 2.2vw;
}
.card__title{
  font-size: 2.5vw;
}
.card__title1{
  font-size: 2.3vw;
}
.card__price {
  font-size: 2.5vw;
}
.card__button {
  font-size: 2.3vw;
  height: 5vw;
}
}
@media screen and (max-width: 320px){
  .header{
    height: 30px;
}
.header__name{
  font-size: 4vw;
}
.header__list{
  margin-top: 0;
}
.header__item{
  font-size: 3vw;
}
.section1__image{
  margin-top: 15px;
}
.section1__image1{
  padding-left: 15px;
}
.section1__p1{
  margin-top: 7vh;
  margin-left: 30px;
  font-size: 3.5vw;
}
.section1__p2{
  font-size: 2.7vw;
  margin-left: 35px;
  padding-top: 1vh;
}
.section1__button{
  width: 40px;
  height: 40px;
  margin-top: 2vh;
  font-size: 8px;
}
.cards {
  margin-top: 2vh;  
}
.container-cards {
  justify-content: space-around;
}
.container__card {
  width: 25vw;
}
.cards__style{
  padding-bottom: 10px;
}
.cards__product{
  font-size: 2.2vw;
  margin-left: 5vw;
}
.cards__catalog{
  font-size: 2.2vw;
  margin-right: 5vw;
}
.card__title{
  font-size: 2.5vw;
}
.card__title1{
  font-size: 2.3vw;
}
.card__price {
  font-size: 2.5vw;
}
.card__button {
  font-size: 2.3vw;
  height: 5vw;
}
}


