@media screen and (max-width: 850px){
  .header{
    height: 65px;
  }
  .section1__p1{
    font-size: 20px;
  }
  .section1__p2{
    font-size: 13px;
  }
  .section1__button{
    font-size: 10px;
    width: 90px;
    height: 90px;
  }
  .header__name{
    font-size: 25px;
  }
  .header__item{
    font-size: 18px;
  }
  .section1__p1{
    font-size: 25px;
    margin-top: 80px;
    margin-left: 20px;
    }
  .section1__p2{
    font-size: 15px;
    top: 25px;
    left: 30px;
    padding: 0;
  }
  .section1__button{
    font-size: 15px;
    margin-top: 60px;
    margin-left: 100px;
    width: 90px;
    height: 90px;
  }
  .container__cards {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  section{
    flex-direction: row;  
  }
  .section1__image{
    margin-top: 20px;
  }
  .section1__image1{
    padding-left: 20px;
  }
  .cards {
    margin-top: 30px;  
  }
  .cards__style{
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .cards__product{
    font-size: 15px;
    margin-top: 0px;
    margin-left: 25px;
  }
  .cards__catalog{
    font-size: 15px;
    margin-top: 0px;
    margin-right: 25px;
  }
  .cards {
    margin-top: 30px;  
  }
  .container-cards {
    gap: 10px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 420px){
  .header{
    height: 30px;
  }
.header__name{
  font-size: 20px;
}
.header__item{
  font-size: 15px;
}
  .section1__p1{
    font-size: 15px;
    margin-top: 80px;
    margin-left: -10px;
    }
  .section1__p2{
    font-size: 15px;
    margin-top: 180px;
    margin-right: 60px;
    padding: 0;
  }
  .section1__button{
    font-size: 15px;
    top: 180px;
    margin-right: 15px;
    width: 90px;
    height: 90px;
  }
  .container__cards {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  section{
    flex-direction: row;  
  }
  .section1__image{
    margin-top: 20px;
    flex-direction: column;
  }
  .section1__image1{
    display: flex;
    position: relative;
    object-fit: contain;
    align-self: flex-start;
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
  }
  .section1__image2{
    width: 50%;
    margin-top: -20px;
    margin-right: -40px;
    align-self: flex-end;
    z-index: 1;
  }
  .section1__video{
    display: flex;
    max-width: 100%;
    width: 60%;
    padding-left: 50px;
    margin-top: -30px;
  }
  .cards {
    margin-top: 30px;
    flex-direction: column;
  }
  .cards__style{
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .cards__product{
    font-size: 15px;
    margin-top: 0px;
    margin-left: 25px;
  }
  .cards__catalog{
    font-size: 15px;
    margin-top: 0px;
    margin-right: 25px;
  }
  .card__img img{
    width: 120px;
    align-items: center;
  }
  .card__price {
    font-size: 13px;
    margin-top: 5px;
    text-align: center;
  }
  .container__card {
    width: 120px;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .card__title{
    margin-top: 15px;
    margin-top: 0;
    font-size: 13px;
    text-align: center;
  }
  .card__title1{
    margin-top: 5px;
    font-size: 13px;
    text-align: center;
  }
  .card__button {
    width: 100px;
    height: 20px;
    margin-top: 10px;
    font-size: 10px;
    margin-left: 10px
  }
}
@media screen and (max-width: 1025px){
  .header{
    height: 75px;
  }
  .section1__p1{
    font-size: 35px;
  }
  .section1__p2{
    font-size: 18px;
    left: 30px;
  }
  .section1__button{
    font-size: 18px;
    margin-left: 160px;
  }
  .container-cards {
    gap: 10px;
  }
}
